.warden-home-page {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-button-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.warden-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

.warden-nav {
  margin: 20px 0;
  text-align: center;
}

.nav-link {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
  color: #f1f1f1;
}


.warden-content {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
